<%#
    <div class="care-header"> 
      <div class="title-header">
       <p id="top-ten">Top Ten Tips To Keep Your 
        <br> Plants Happy </br>
       </p>
      </div>
    </div> %>

  <div class="doctor-nav">

    <div id="articles" class="doctor-links"> <a href=""> ARTICLES </a>

           <div class="thick-line">  </div>
    
    </div>
    
    <div id="doctor" class="doctor-links"> PLANT DOCTOR 
       
           <div class="doctor-page">  </div>

    </div>


   </div>




