
    <div class="care-header"> 
      <div class="title-header">
       <p id="top-ten">Top Ten Tips To Keep Your 
        <br> Plants Happy </br>
       </p>
      </div>
    </div>

    <div class="care-sub-nav">
      <ul>
        <li><%= link_to "ARTICLES", care_path%></li>
        <li><%= link_to "PLANT DOCTOR", care_doctor_path(doctor:'doctor')%></li>
      </ul>
    </div>

<% if @doctor == true %> 
  <%= render 'doctor' %>
<% else %>
  <%= render 'articles' %>
<% end %>


