<div class="care-header">
  <div class="title-header">
    <p id="top-ten">Top Ten Tips To Keep Your
    <br/>Plants Happy
    </p>
  </div>
</div>

<%= react_component 'CarePage', prerender: false %> 

