<section class= "design-wrapper">
  <div id="config-wrapper" class= "design-items">
    <div class="design-divider-1">
      <div class="configurator-design">
        <div class="center-elements">
          <div class="image-design-1">
            <%= image_tag 'Design/TinyGarden-Configurator-01.png', alt: 'hey'%>
          </div>
        </div>
        <div class="center-elements">
          <div class="image-design-2">
            <%= image_tag 'Design/TinyGarden-Configurator-02.png', alt: 'hey'%>
          </div>
        </div>
        <div class="center-elements">
          <div class="image-design-3">
            <%= image_tag 'Design/TinyGarden-Configurator-03.png', alt: 'hey'%>
          </div>
        </div>
        <div class="center-elements">
          <div class="image-design-4">
            <%= image_tag 'Design/TinyGarden-Configurator-04.png', alt: 'hey'%>
          </div>
        </div>
      </div>
    <div class= "design-palette">
      <div class="wall-color-text"> Background color </div>
        <div id="dizark" onclick="btnDizark()" class="palette-color"></div>
        <div id="pantone" onclick="btnPantone()"class="palette-color"></div>
        <div id="braden" onclick="btnBraden()" class="palette-color"></div>
        <div id="phoca" onclick="btnPhoca()" class="palette-color"></div>
        <div id="muzli" onclick="btnMuzli()" class="palette-color"></div>
      </div>
    </div>
    <div class= "design-divider-2">
      <div class= "design-add-plant">
        Drag & Drop your plant!
      </div>
      <div class= "design-filters">
        Filters go here
      </div>
      <div class="design-results-title">
        Results
        <div class="addplant-btn">
          <button class="add-to-space" onclick="btnRed()" type="button">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function btnDizark() {
    document.getElementById("config-wrapper").style.backgroundColor="#009579";
}
  function btnPantone() {
    document.getElementById("config-wrapper").style.backgroundColor="#ff6666";
}
  function btnPhoca() {
    document.getElementById("config-wrapper").style.backgroundColor="#ebf9f6";
}
  function btnBraden() {
    document.getElementById("config-wrapper").style.backgroundColor="#fffaf0";
}
  function btnMuzli() {
    document.getElementById("config-wrapper").style.backgroundColor="#fde5db";
}
</script>

