

<div id="user-picture-background">

  <h1>Welcome home
    <br><%= @user.name %>
  </h1>

</div>
<div id="content-user-column">
  <div class="display-flex-content">
    <div class="purchase-history">
    <h2>purchase Histroy</h2>
    </div>
    <div class="profile-manage-reviews">
      <h2>Manage Reviews</h2>
    </div>
    <div class="edit-profile-section">
      <h2>Edit Profile</h2>
    </div>
  </div>


</div>
