/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* ----------------- Main ----------------- */

body {
  margin: 0;
}

button{font-family: 'Lato', sans-serif; font-weight: bold;}
/* ----------------- NAVBAR ----------------- */

#navbar {
  height: 10%;
}

.nav-color {
  background-color: white;
  transition: ease-in;
  transition-duration: .2s;
}

.nav-transparent {
  background-color: transparent;
  transition-duration: .2s;
}

#inner-nav {
  height: 100%;
  width: 100%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

ol, ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 20px 0 20px;
  vertical-align: middle;
}
a:hover, a:focus, a:active {
  color: #999 !important;
  text-decoration: none;
}
a {
  transition: color 0.1s, background-color 0.1s;
  text-decoration: none !important;
  color: black !important;
}
a {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
  color: #000;
}
a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}
a.nav-active::before {
  text-decoration: none;
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform: scale(1,1)
}

a:active::before {
  background-color: #000;
}
a:hover::before, a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: text;
}

nav ul li a {
  color:black;
  padding: 15px;
  display: block;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  line-height: 2rem;
  font-size: small;
  z-index: 1;
  top: 2.7rem;
  right: 0rem;
}

a, a:link, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}

/* ----------------- Fonts ----------------- */

h1, h2, h3, h4, h5, h6 {font-family: 'Source Serif Pro', serif;}

/* a, p {font-family: 'Lato', sans-serif;} */

h1{font-size: 50px; margin-block-start: 0; margin-block-end: 0;}
h2{font-size: 42px; margin-block-end: 0;}
h3{font-size: 22px; margin-block-start: 0; margin-block-end: 0;}
h4{font-size: 24px; margin-block-start: 0; margin-block-end: 0;}
h5{font-size: 22px; margin-block-start: 0; margin-block-end: 0;}
h6{font-size: 20px; margin-block-start: 0; margin-block-end: 0;}

button{font-family: 'Lato', sans-serif; font-weight: bold;}

.left-side-nav {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  margin-right: 1.6%;
  padding: 0;
}

.right-side-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
}

#cart {
  margin-left: 2rem;
}

#navspacer {
  margin-top: 2.3rem;
}
/* ----------------- Main ----------------- */


/* ----------------- Home Welcome Block ----------------- */

#welcome h1 {
  margin-block-end: 1rem;
  color: rgb(0,146,122);
}
#welcome {
  background-color: lightgray;
}

#welcome img {
  width:100%;
  height: 400px;
  position: fixed;
}

.center {
  align-items: center;
  text-align: center;
  margin: auto;
}


.lightgreybackground {
  padding-top: 4%;
  background-color: rgb(241, 240, 240);
}

/* ----------------- Misc ----------------- */

/* ----------------- Buttons ----------------- */

.btn-round {
  width: 260px;
  height: 50px;
  border-radius: 40px;
  font-size: 18px;
  transition: 0.3s;
}
.btn-round:hover{transform: scale(1.1); cursor: pointer;}


.Yellow{
  background-color: rgb(255,180,0);
  color: white;
  margin: 60px;
  border: solid 3px rgb(255,180,0);
}

.btnprimaryhome a:visited{
  color: white !important;
}

.Yellow a{
  color: white;
}

.Yellow a:visited{color: white;}

.Red{
  background-color: transparent;
  color: #FF6666;
  border: solid #FF6666 2px;
  margin: 10px 0 0 0;
  width: 90%;
}

.Red a{color: #FF6666;}
.Red a:visited{color: #FF6666;}

.Black{
  background-color: transparent;
  color: black;
  margin: 0 auto 60px auto;
  border: solid 3px black;
}
.Black a{color: black;}
.Black a:visited{color: black;}

.btn-underline{
  width: 300px;
  height: 50px;
  font-size: 22px;
}

.Blacks{
  color: black;
  margin: 40px;
}
.Blacks:visited{color: black;}



.Blacks a{
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  line-height: 16px;
  transition: color 0.1s,background-color 0.1s, padding 0.2s ease-in;
  color: rgb(0,146,122);
  transition: color 0.1s, background-color 0.1s;
}

/* ----------------- Featured Products: Images, articles and Hoover effects ----------------- */

.cards img{
  height: 370px;
  width: 100%;
  object-fit: cover;
}


.cards img:hover {
  background-color: rgba(58, 58, 58, 0.658);
  z-index: 5;
}

.cards:hover{
  transform: scale(1.1);
  cursor: pointer;
  opacity: 1;
}

.cards {
  transition: 0.3s;
  width: 300px;
  margin: 0 10px 50px 10px;
  justify-content: space-between;
  text-align: center;
}

.inline {
  display: inline-flex;
  margin: 0 30px;
}

.shopfeatprod{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.hvrbox, .hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
  height: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
  height: 100%;
	background: rgba(212, 145, 0, 0.8);
	color: #fff;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top, .hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	display: inline-block;
	position: relative;
	top: 50%;
  left: 50%;
  padding: 10px;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.space-between{
  justify-content: space-between;
  display: flex;
  margin: 10px 10px;
}
.space-between h3:first-child{
  color: #00927A;
}
.hvrbox-text h3 {
  margin: 10px 10px 5px 10px;
  
}
.hvrbox-text h4 {
  margin: 5px 10px 30px 10px;
}
/* ------------------------- Instagram Feed ---------------------- */

#insta-bgd {
  background-color: #EBF9F6;
}
#showoff {
  font-family: serif;
  text-align: center;
  font-size: 1.5rem;
  padding:0.3rem;
}
.instafeed {
  display:flex;
  justify-content: center;
}
.instafeed img{
  height: 30vh;
  cursor: pointer;
  transition: .40s ease-in-out;
}
.instafeed img:hover{
  cursor: pointer;
  opacity: 0.7;

}
  #mytinygdn {
  font-family: serif;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.3rem;
  font-weight: lighter;
}


/* ----------------- How It Works Section Homepage ----------------- */

#how-it-works .gif-background{

  background-color: rgb(253,231,222);
  background-image: url(https://files.slack.com/files-pri/T055GEHEJ-FM97G7GES/tiny-garden-how-it-works.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  height: 600px;
}

.bg-pink{
background-color: rgb(253,231,222);
}

#how-it-works h1{
  padding: 80px 0 0 0;
}

/* ----------------- Why Plants ----------------- */


#why-plants .box{
  width:100%;
  height: 400px;
  background-color: lightgray;
}

#why-plants .threecol{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  flex-wrap: wrap;
  padding: 0 30px;
}

#why-plants .backgroundgrey{
  background-color: lightgray;
}

#why-plants .threecol .padding{
  width: 300px;
  margin: 30px auto;
  justify-content: space-around;
  text-align: justify;

}

#why-plants h3{
  color: #00927A;
}

#why-plants .extramargin{
  margin: 10px;
}


/* ----------------- Care Basics ----------------- */

#Care-Basics{
  background-color: #FFFAF0;
  width:100%;
  height: fit-content;
}

#Care-Basics .card{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-around;

}

#Care-Basics .title{
  margin: 40px 0;
  padding: 60px 0;
  width: 100%;
  text-align: center;
}
#Care-Basics .inner-card{
  width: 300px;
  height: 500px;
  background-color: #FFE2A5;
  margin: 10px;
  display: grid;
  padding: 0 50px 30px 50px;
  border-radius: 10px;
}

#Care-Basics .inner-card img{
  width: 200px;
  margin: auto;
}

#Care-Basics h3{
  margin: 80px auto;
  width: 220px;
  text-align: center;
  cursor: pointer;
}

#facebook{
  text-decoration:none;
} #youtube{
  text-decoration:none;
}
#instagram{
  text-decoration:none;
}
