.design-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fffaf0;
  position: fixed;
}

.design-items {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.design-divider-1 {
  width: 70%;
  }

.design-divider-2 {
  margin-top: 7rem;
  padding-top: 40px;
  width: 30%;
  height: 80vh;
  background-color: white;
  display: grid;
  align-content: space-between;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.configurator-design {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  height: 80vh;
  margin-top: 6rem;
  display: grid;
  align-items: center;
  max-width: 70vw;
}
.image-design-1 img,
.image-design-2 img,
.image-design-3 img,
.image-design-4 img {
  opacity: 0;
  z-index: 1;
  transition: 0.2s;
  margin: auto;

}
.image-design-1 img:hover,
.image-design-2 img:hover,
.image-design-3 img:hover,
.image-design-4 img:hover {
  opacity: 1;
  z-index: 1;
  transition: 0.2s;
}

.image-design-1{
  background-image: url(Design/TinyGarden-Configurator-13.png);
  position: center;
  opacity: 1;
  background-repeat: no-repeat;
}

.image-design-2{
  background-image: url(Design/TinyGarden-Configurator-14.png);
  position: center;
  opacity: 1;
  background-repeat: no-repeat;
}

.image-design-3{
  background-image: url(Design/TinyGarden-Configurator-15.png);
  position: center;
  opacity: 1;
  background-repeat: no-repeat;
}

.image-design-4{
  background-image: url(Design/TinyGarden-Configurator-16.png);
  position: center;
  opacity: 1;
  background-repeat: no-repeat;
}

.image-design-5,
.image-design-6,
.image-design-7,
.image-design-8 {
  opacity: 1;
  z-index: 0;
}

.center-elements{
  align-content: center;
  align-items: center;
}

.design-add-plant {
  font-family: Serif;
  font-size: 25px;
  text-align: center;
}

.design-filters {
  font-family: 'Lato';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  height: 110px;
}

.design-results {
  font-family: 'Lato';
  font-size: 20px;
  text-align: center;
  height: 50px;
  vertical-align: bottom;
}

.design-results-title {
  text-align: center;
  margin-top: 40px;
}

.design-plant-container {
  height: 200px;
  display:flex;
  flex-wrap: wrap;
}

.design-snake {
  background-image: url("snakeplant.png");
  background-position: center; 
  background-repeat: no-repeat;
  margin-top: 4px;
  height: 170px;
  width:50%;
  background-color: white;
}

.design-aloevera {
  background-image: url("aloevera.png");
  background-position: center; 
  margin-top: 4px;
  height: 170px;
  width:50%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 55%;
}

.add-to-space {
  border-radius: 50px;
  font-size: 1.5rem;
  height: 50px;
  color:grey;
  font-family: 'Lato';
  transition: 0.3s;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.addplant-btn  {
  width: 70%;
  margin: auto;
}

.addplant-btn button:hover{
  color: black;
}

.add-to-space:hover {
  transform: scale(1.1);
}

.add-to-space:focus {
  outline: none;
}

.design-palette {
  display: flex;
  background-color: white;
  position: relative;
  text-align: center;
  margin: auto auto 0 auto;
  width: 520px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wall-color-text {
  text-align: center;
  margin: auto;
  font-family: 'Lato';
}

.palette-color {
  height: 40px;
  width: 40px;
  border-radius:50%;
  border: solid 1px black;
  transition: 0.2s;
}

.palette-color:hover {
border: solid 5px black;
transition: 0.2s;
cursor: pointer;
transform: scale(1.2);

}

#muzli {
  background-color: #fde5db;
  margin: auto 10px;
}

#braden {
  background-color: #fffaf0;
  margin: 20px 10px;
}

#phoca {
  background-color: #ebf9f6;
  margin: 20px 10px;

}

#pantone {
  background-color: #ff6666;
  margin: 20px 10px;

}

#dizark {
  background-color: #009579;
  margin: 20px 10px;
}

.design-plant-title {
  font-family: 'Lato';
  width: 70%;
  text-align: left;
  margin: 20px;
}
