.doctor-wrapper{
  width: 100%;
  height: 100%;
}

.doctor-question{
  font-size: 40px;
  font-family: 'Serif';
  text-align: center;
  height: 70px;
  margin-top: 57px;
}

.box-container-1{
  display:grid;
  height: 61vh;
  margin-top: 15px;
  margin-left:15%;
  margin-right:15%;
}

.box-container-2{
  display:grid;
  height: 61vh;
  margin-top: -130px;
  margin-left:15%;
  margin-right:15%;
}

.box{
  width: 33%;
  height: 70%;
  background-repeat: no-repeat;
  color: white;
  font-family: Serif; 
  font-size: 25px;
  background-position: center; 
  background-size: 80% 90%;
}

#box-1{
  background-image: url("http://tinygarden-bucket.herokuapp.com/images/paleleaf.png");;
  height: 392px;
  width: 450px;
}

#box-2{
  background-image: url("http://tinygarden-bucket.herokuapp.com/images/droopyleaf.png");
  height: 392px;
  width: 450px;
}

#box-3{
  background-image: url("http://tinygarden-bucket.herokuapp.com/images/brownleaf.png");
  height: 392px;
  width: 450px;
}

#box-4{
  background-image: url("http://tinygarden-bucket.herokuapp.com/images/blackspotleaf.png");
  height: 392px;
  width: 450px;
}

#box-5{
  background-image: url("http://tinygarden-bucket.herokuapp.com/images/lightgrowleaf.png");
  height: 392px;
  width: 450px;
}

#box-6{
  background-image: url("http://tinygarden-bucket.herokuapp.com/images/brownleaf.png");
  height: 392px;
  width: 450px;
}

.ailment{
  margin: 70px;
  border: 5px solid transparent;
  font-size: 30px;

}


